
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    height: 60px;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header .main-nav {
    display: flex;
}
#nav-mobile {
display: none;
cursor: pointer;
transition: var(--main-color);
}
#nav-mobile span{
display: block;
height: 4px;
width: 30px;
background-color: black;
transition: var(--main-color);
}
#nav-mobile span:not(:last-child){
margin-bottom: 4px;
}
#nav-mobile:hover > span {
background-color: var(--main-color);
}
@media (max-width: 767px) {
#nav-mobile{
    display: block;
}
.header .main-nav{
    display: none;
}
}
  
 
.header .main-nav > li:hover .mega-menu {
opacity: 1;
z-index: 100;
top: calc(100% + 1px);
}
.header .main-nav > li > a {
display: flex;
justify-content: center;
align-items: center;
height: 60px;
position: relative;
color: black;
padding: 0 30px;
overflow: hidden;
font-size: 18px;
transition: var(--main-transition);
}

.header .main-nav > li > a::before {
content: "";
position: absolute;
width: 100%;
height: 4px;
background-color: var(--main-color);
top: 0;
left: -100%;
transition: var(--main-transition);
}
.header .main-nav > li > a:hover,
.header .main-nav > li > a.active{
color: var(--main-color);
background-color: #fafafa;
}
.header .main-nav > li > a:hover::before ,
.header .main-nav > li > a.active::before{
left: 0;
}
  
.header .mega-menu {
position: absolute;
width: 100%;
left: 0;
padding: 30px;
background-color: white;
border-bottom: 3px solid var(--main-color);
z-index: -1;
display: flex;
gap: 40px;
top: calc(100% + 50px);
opacity: 0;
transition: top var(--main-transition), opacity var(--main-transition);
}


.header .mega-menu .image img {
width: 100%;
height: 400px;
}
  
.header .mega-menu .links {
min-width: 250px;
flex: 1;
}
.header .mega-menu .links li {
position: relative;
}
.header .mega-menu .links li:not(:last-child) {
border-bottom: 1px solid #e9e6e6;
}

.header .mega-menu .links li::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 0;
height: 100%;
background-color: #fafafa;
z-index: -1;
transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
width: 100%;
}
.header .mega-menu .links li a {
color: var(--main-color);
padding: 15px;
display: block;
font-size: 18px;

font-weight: bold;
}
.header .mega-menu .links li a i {
margin-right: 10px;
}
.cour-presentation{
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #eee;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 30px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.cour-presentation .box{
    max-width: 250px;
}
.cour-presentation .box .title{
    font-weight: 600;
    line-height: 30px;
    font-size: 25px;
    color:  rgb(38, 38, 69);
}
.cour-presentation .box li a{
    color: black;
}

/* start landing */
.landing,
.slide{
    height: calc(100vh - 60px);
}
.landing-img,
.slide-img{
    flex-basis: 50%;
}
.landing-info{
    flex-basis: 50%;
    background-color: white;
    margin: auto 20px;
}
.landing-info h1{
    margin-bottom: 40px;
}
.landing-info button{
    width: 100%;
    padding: 11px;
    background-color: #1976D2;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.landing-info .info-bac-maroc{
    margin: 20px;
}
.landing-img img{
    height: 100%;
    width: 100%;
}

/* end landing */

/* Notre quality */
.Nos-quality{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.Nos-quality .box{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    place-items: center;
}
.img{
    text-align: center;
}
.Nos-quality img{
    height: 150px;
    height: 150px;
}
  
/* End Notre Qualite */

/* neauvaeu programe  */
.programe-informatique {
    background-color: #eee;
    height: 442px;
}
.img-svg{
    position: absolute;
    top: 20px;
    right: 0;
}


/* End neauvaeu programe */

/* start about us */

.slide-info{
    margin: 20px;
    padding: 20px;
    flex-basis: 50%;
}
.slide-img{
    margin: 20px;
    padding: 20px;
}
.slide-img img{
    height: 100%;
    width: 100%;
    position: relative;
}
/* .slide-img img::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 15px;
    background-color: black;
} */
.slide-info .title{
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 30px;
}

.team-member{
    margin-left: 150px;
    margin-right: 150px;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    row-gap: 5px;
}
.team-member .box{
    height: 100px;
    background-color: #eee;
    height: 370px;
}
.team-member .box img{
    height: 100%;
    width: 100%;
}
.ovley{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}


/* end about Us */





/* frame */

.d-flex{
    display: flex;
}
.g-40{
    gap: 40px;
}
.img-40-50{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    outline: 1px solid black;
    display: inline;
}
.p-relative{
    position: relative;
}
.h-full{
    height: 100%;
}
.w-full{
    width: 100%;
}
.h-50{
    height: 50px;
}
.h-content{
    height: fit-content;
}
.y-centre-40{
    line-height: 40px;
}
.txt-c{
    text-align: center;
}
.mb-40{
    margin-bottom: 40px;
}


/* les grand  tesxt*/

.title{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    line-height: 50px;
    font-size: 50px;
}

.description{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
}
